/* 
font-family: 'Lakki Reddy', cursive;
font-family: 'Handlee', cursive;
font-family: 'Patrick Hand', cursive; */

.App {
  text-align: center;
  background-color: rgb(204, 254, 192);
  padding-bottom: 0;
  padding-top: 30px;
}
h1 {
  text-align: center;
  font-size: 66px;
  margin: 40px auto 10px;
  font-weight: bold;
  font-family: "Lakki Reddy", cursive;
}
h3.search-for-invite {
  font-family: "Lakki Reddy", cursive;
  font-weight: 500;
  color: black;
  font-size: 25px;
}

img {
  max-height: 150px;
  margin-bottom: 20px;
}
footer {
  font-family: monospace;
  font-size: 13px;
  margin-top: 0;
  font-weight: 700;
  position: relative;
  top: -10px;
}
.github-icon {
  max-width: 30px;
  position: relative;
  bottom: -10px;
  border-radius: 50%;
}

@media (max-width: 630px) {
  h1 {
    font-size: 56px;
  }
  main h3.search-for-invite {
    font-size: 18px;
  }
  p.word-definition {
    font-size: 17px;
  }
  p.word-examples {
    font-size: 17px;
  }
  div.synonym-list {
    font-size: 13px;
    font-weight: 500;
    margin: 5px;
    padding: 8px;
  }
  div.antonym-list {
    font-size: 13px;
    font-weight: 500;
    margin: 5px;
    padding: 8px;
  }
}
