/* font-family: 'Estonia', cursive;
font-family: 'Lakki Reddy', cursive;
font-family: 'Ms Madi', cursive; */

.App {
  text-align: center;
  background-color: rgb(204, 254, 192);
  padding-bottom: 50px;
  padding-top: 30px;
}
h1 {
  text-align: center;
  font-size: 66px;
  margin: 40px auto 10px;
  font-weight: bold;
  font-family: "Lakki Reddy", cursive;
}
h3.search-for-invite {
  font-family: "Lakki Reddy", cursive;
  font-weight: 500;
  color: black;
}

img {
  max-height: 150px;
  margin-bottom: 20px;
}
footer {
  font-family: monospace;
  font-size: 13px;
  margin-top: 40px;
  font-weight: 700;
}

@media (max-width: 630px) {
  h1 {
    font-size: 56px;
  }
  main h3.search-for-invite {
    font-size: 18px;
  }
  .word-definition {
    font-size: 16px;
  }
  .Meaning p.examples {
    font-size: 14px;
  }
}
