.Dictionary {
  margin: 20px auto;
}

.search-for-invite {
  font-family: cursive;
  font-size: 20px;
  color: rgb(12, 68, 221);
  font-weight: 700;
}

.search-space {
  width: 260px;
  height: 40px;
  border-radius: 4px;
  margin-right: 6px;
}

.btn-danger {
  background-color: rgb(233, 73, 45) !important;
  height: 40px;
  position: relative;
  top: -3px;
}
