h2.word {
  text-align: left;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 46px;
  font-weight: bold;
}

.Meaning {
  text-align: left;
  background-color: white;
  padding: 15px;
  margin: 15px 15px 25px 15px;
  border-radius: 10px;
}
.part-of-speech {
  color: rgb(216, 105, 159);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.word-definition {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}
.Meaning p.examples {
  font-size: 18px;
  opacity: 0.6;
  font-weight: 400;

  text-align: justify;
  font-family: cursive;
}
