h2.word {
  text-align: left;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 15px;
  font-size: 46px;
  font-weight: bold;
  padding-top: 10px;
}

.Meaning {
  text-align: left;
  background-color: white;
  padding: 15px;
  margin: 30px 15px 20px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0 0 0 /10%);
}
.part-of-speech {
  color: rgb(216, 105, 159);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
.word-definition {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
}
.word-examples {
  font-size: 20px;
  opacity: 0.6;
  font-weight: 600;
  text-align: justify;
  font-family: "Handlee", cursive;
}

h5 {
  font-family: "Patrick Hand", cursive;
  color: rgb(2, 72, 194);
}

.synonym-list {
  display: inline-block;
  background-color: rgb(252, 195, 222);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
}
.antonym-list {
  display: inline-block;
  background-color: rgb(204, 254, 192);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
}
